@charset "UTF-8";

@import url("normalize.css");

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap");

/* ##################################### */
/* ##########     General     ########## */
/* ##################################### */

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: "Pretendard Variable", sans-serif;
}

.root-container {
  position: absolute;
  top: 72px;
  left: 0;
  width: 100%;
}

/* ##################################### */
/* ##########     Utility     ########## */
/* ##################################### */

.u-dp-blind {
  display: none;
}

/* ##################################### */
/* ##########     Header     ########## */
/* ##################################### */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  border-bottom: 1px solid black;
  padding-left: 4vw;
  padding-right: 4vw;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  -moz-backdrop-filter: blur(2px);
  -ms-backdrop-filter: blur(2px);
  -o-backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.9);
}

.header > .header__links > .header__nav {
  margin-right: 40px;
}

.header > .header__links {
  display: flex;
  align-items: center;
}

.header > .header__links > .header__sign {
  margin-right: 24px;
}

.logo {
  display: flex;
  column-gap: 12px;
  align-items: center;
}

.logo > .logo__img {
  background-image: url("../images/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
}

.logo > .logo__name {
  color: black;
  font-size: 1.3rem;
}

.nav > .nav__container {
  display: flex;
  column-gap: 2vw;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.nav > .nav__container > .nav__item {
  padding: 8px 12px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav > .nav__container > .nav__item:hover {
  border-color: black;
}

.nav > .nav__container > .nav__item > a {
  color: black;
}

.sign {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 6px;
}

.sign > .sign__button {
  width: 100%;
  height: 100%;
  padding: 8px 12px;
  color: black;
  transition: color 0.3s, background-color 0.5s;
}

.sign > .sign__button:hover {
  color: white;
  background-color: black;
}

.lang {
  display: flex;
  column-gap: 8px;
}

.lang > .lang__item {
  color: black;
  font-size: 0.9rem;
}

.lang > .lang__item:after {
  display: block;
  content: "";
  border-bottom: solid 1px black;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}

.lang > .lang__item:hover:after {
  transform: scaleX(1);
}

@media screen and (max-width: 768px) {
  @keyframes smoothShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .header {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    padding-right: 0;
    padding-left: 0;
  }

  .header > .header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 71px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .header > .header__logo > .header__toggle {
    height: 36px;
    width: 36px;
    background-image: url("../images/menu.svg");
    background-size: cover;
    cursor: pointer;
  }

  .header > .header__links {
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .header > .header__links.active {
    animation-duration: 0.5s;
    animation-name: smoothShow;
    display: flex;
  }

  .header > .header__links > .header__nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 0;
  }

  .header > .header__links > .header__lang {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 28px;
  }

  .header > .header__links > .header__sign {
    margin-right: 0;
  }

  .nav > .nav__container {
    flex-direction: column;
    row-gap: 16px;
  }

  .nav > .nav__container > .nav__item {
    text-align: center;
  }
}
